body {
  font-family: "Lato";
  background-color: #e7e7e7;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 1em;
}

.produit img {
  height: 20em;
}

.produit {
  text-align: center;
  padding-bottom: 3em;
}

.produit .seemore {
  background-color: #3074AE;
  border: 1px solid #3074AE;
  padding: 1em 2em;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.produit p {
  font-size: 1.5em;
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.prodtotal {
  border-bottom: 1px solid #ccc;
}

.logo img {
  width: 100%;
  margin-top: 2em;
}

.descriptionsite {
  margin-top: 2em;
  font-size: 1.2em;
  text-align: center;
}

.logDesBord {
  border-bottom: 1px solid #ccc;
}

.formulHome {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 2em;
}

#ma_nav{
    border-radius: 0;
}

.listeTri li {
  list-style-type: none;
}

.listeTri input {
  margin-right: 1em;
}

.catToSell p {
  text-align: center;
}

.image {
  max-height: 17.2em;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
}

.imagetop {
  border: 2px solid black;
  border-radius: 10px;
}
.margin0 {
  margin-top: 15px;
}

.panfiche a i {
  font-size: 2em;
}

.imagefiche {
  max-height: 20em;
  margin-bottom: 2em;
}

.imgdenis {
  margin-top: 2.9em;
}

.modaltest {
  margin-top: 2em;
}

.margcom {
  margin-bottom: 3.7em;
}

.margc {
  margin-top: 2em;
}

.margb {
  margin-top: 6em;
}

.marga {
  margin-top: 14em;
}

.descriptfiche {
  margin-top: 2em;
}

.catToSell img {
  margin-bottom: 2em;
}

.catToSell p {
  margin-top: 2em;
}

.catToSell {
  margin-bottom: 2em;
}

footer{
    background-color: #222222;
    color: #9d9d9d;
}
footer p{
    line-height: 3em;
}
